# Зависимости
node_modules/
backend/db/node_modules/
backend/server/node_modules/

# Конфиденциальные данные (пароли и настройки)
.env
backend/server/.env
.vscode/

# Логи и временные файлы
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store

# Специфичные файлы БД и сертификаты
*.sql
*.pem
*.session