# Зависимости (самые тяжелые папки, их нельзя пушить)
node_modules/
backend/db/node_modules/
backend/server/node_modules/

# Конфиденциальные данные (ключи, пароли, настройки БД)
.env
backend/server/.env

# Логи и временные файлы
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store

backend/server/images/uploads/*
!backend/server/images/uploads/.gitkeep
!backend/server/images/uploads/default_avatar.png
!backend/server/images/uploads/1777038022644-885676557.gif

